$black: #000;
$dark-gray:#333;
$gray: #777;
$silver: #999;
$moon-gray: #ccc;
$light-gray: #eee;
$white: #fff;

$dark-red: #e7040f;
$red: #e7595a;
$light-red: #ff725c;
$orange: #ef9852;
$dark-green: #137752;
$green: #309456;
$light-green: #9eebcf;
$dark-blue: #00449e;
$blue: #2f80ed;
$light-blue: #96ccff;

$base-color: $black;
$base-bg-color: $white;
