$base-spacing-unit:       16px;

$base-spacing-unit--xs:   round($base-spacing-unit * 0.25);
$base-spacing-unit--sm:   round($base-spacing-unit * 0.5);
$base-spacing-unit--lg:   round($base-spacing-unit * 2);
$base-spacing-unit--xl:   round($base-spacing-unit * 4);
